*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* colori */
/* azzurro pulsanti */
/* hsl(217deg 100% 50%) */

body{
  background-color: rgb(255, 255, 255);

  /* font-family: Arial, Helvetica, sans-serif; */

  /* da google fonts */
  font-family: 'Open Sans', sans-serif;

  color: black;
}

h3{
  font-size: 25px;

}

h4{
  font-size: 18px;

}
.grey_color{
  color: gray;
}

li{
  display: inline-block;
  text-align: center;
  list-style-type: none;
}

a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.button_standard {
  /* border: none; */
  background-color: rgb(0, 98, 255);
  color: white;
  padding: 5px 15px;
  font-size: 16px;
  text-align: center;
  /* min-width: 40px;
  min-height: 40px; */
}

.button_standard  a{
  /* border: none; */
  background-color: rgb(0, 98, 255);
  color: white;
  padding: 5px;
  font-size: 16px;
  text-align: center;
  /* min-width: 40px;
  min-height: 40px; */
}

.white_button{
background-color: white;
color: #000000;
padding: 5px;
font-size: 16px;
text-align: center;
border: #000000 1px solid;
}

section{
  background-color: white;
}

hr{
  width: 50px;
  margin-bottom: 30px;
  color: rgb(208, 208, 211);
  border-style: solid;
}


/* * HEADER /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
header{
  width: 100%;
  background-color: rgb(181, 209, 232);

  /* height: 820px; */

  border: 3px blueviolet dashed;



}

.menu{
  width: 100%;
  height: 70px;
  background-color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 14px;

  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 999;
  /* width: 100%; */

  border-bottom: #D0D0D3 1px solid;
}

.menu .col{
  /* border: 1px dashed black; */
  margin: 0 10px 0 10px;


}

header .menu .col nav ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* align-items: baseline; */

}

header .menu .col.col.col_menu_left nav ul li{
  /* border: 1px dashed black; */
  margin: 0 50px 0 0px;


}

header .menu .col.col.col_menu_right nav ul li{
  /* border: 1px dashed black; */
  margin: 0 0px 0 50px;


}



.jumbotron{
  display: flex;
  justify-content: center;

  background-color: rgb(181, 209, 232);
  /* width: 85%; */
  width: 100%;
  /* margin: 0 auto; */
  /* min-height: 730px; */
  /* height: 730px; */
  /* margin-top: 70px; */ /* * non necessario perché c'è abbastanza padding*/
  margin-top: 70px;
  /* padding: 0 10%; */
  /* padding-bottom: 0; */

  /* height: 768px; */
  /* height: 581px; */

/* ! Per fare in modo che le dimensioni del background si adatti alle dimensioni della finestra (in questo modo l'immagine resti allineata al bordo inferiore del background) */
  min-height: 610px;
  height: 50vw;
  max-height: 720px;
  /* height: 720px; */
  /* max-height: 720px; */
  /* height: 100%; */
  /* max-height: 100%; */

  /* position: relative;
  top: 90px; */


  /* display: flex; */
  /* justify-content: center; */

  border: 2px dashed rgb(0, 250, 79);
}

.container_jumbo_0{
  /* background-color: rgb(181, 209, 232); */
  border: 2px dashed rgb(0, 0, 0);

  width: 100%;
  /* height: 614px; */
  height: 634px;
  position: relative;
  /* top: 135px;  */
  top: 150px;
  padding: 0 10%;

}


.container_jumbo{
  display: flex;
  /*  justify-content: left; */
  /* * justify-content: space-between; */
  /* * align-items: center; */
  justify-content: flex-start;
  align-items: flex-start;
  /* flex-wrap: wrap; */

  /* height: 768px; */
  /* * PRIMA */
  /* height: 470px; */
  height: 440px;
  /* height: 100%; */

  /* *forse non necessario */
  width: 100%;

  /* height: 380px; */



  border: 1px solid black;
}

.jumbotron h1{
  font-size: 70px;
  font-weight: 700;
  text-align: left;

  border: 1px dashed black;



}

/* * colonna prima */
/* .container_jumbo .col.col_jumbo_left{

  max-width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;

  height: 350px;
     padding-bottom: 72px;

  border: 1px dashed black;
} */

/* * colonna dopo */
.container_jumbo .col.col_jumbo_left{
  max-width: 30%;
  height: 310px;
  /* margin-right: 20px; */
  padding-right: 20px;
  /* margin-top: 30px; */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /*nuovo*/
  justify-content: space-between;

  border: 1px dashed black;
}

header .description{
  font-size: 15px;
  padding-top: 5px;
  /* padding-right: 30px; */
  text-align: left;
}

.fa-arrow-down{
  font-size: 35px;
}


.container_jumbo .col.col_jumbo_right{
  /* max-width: 65%; l'immagine non copre il 65% quindi questo non è molto utile in questo caso */

  width: 68%;
  height: 100%;

  border: 1px dashed black;


}

.col_jumbo_right img{
  /* *dimensione standard del contenitore dell'immagine */
  /* width: 730px;  */
  /* width: 100%; */



  /* position: relative;
     top: 30px; */
   /* ! top: 60px; */

   border: 1px rgb(227, 29, 29) dashed;

   /* max-width: 100%; */

   /* max-height: 100%; */
   /* max-height: 440px;
   min-height: 440px; */
   /* height: 440px; */


   width: 100%;
   max-height: 440px;
   /* min-width: 65%; */
   /* height: 75%; */
  }

  .img_jumbo{
    /* * l'immagine si regola al 100% del contenitore successivo*/
    /* max-width: 100%; */

}











/* * MAIN //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
main{

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main h2{
  font-size: 35px;
  padding: 50px 0 30px 0;
}

/* * section 1 /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.section_1{
  width: 70%;
  padding: 5% 5%;

  background-color: rgb(255, 255, 255);
  /* padding-bottom: 700px; */
  border: 3px solid aqua;

}

.section_1 span{
  padding-left: 5px;
  margin-right: 10px;
}

.container_section_1{
  display: flex;
  justify-content: space-between;


}


.card{

  width: 30%;
  min-height: 950px;

  margin-top: 30px;
  margin-bottom: 45px;

  border: 1px solid #D0D0D3;

}

.card li{
  text-align: left;
}

.container_section_1 .card li span > a{
  color: #1B71FF;
  text-decoration: underline;
}

.head_card{
  border: 1px solid #D0D0D3;
  text-align: center;
  padding: 10px;
}

.main_card{

  display: flex;
  flex-direction: column;
  justify-content: space-around;



  padding: 20px;

}

.card .main_card h3{
  margin-bottom: 20px;
}

.card .main_card h4{
  margin-bottom: 70px;
}

.main_card ul{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main_card .users{
  margin-bottom: 20px;
}

.main_card .storage{
  margin-bottom: 20px;

}

.main_card .functions{
  margin-bottom: 30px;

}

.card .main_card .button_standard{
  margin: 0 auto 20px;
  /* margin: 0 auto 20px auto; */
  max-width: 255px;

}

.main_card .buy_now{
  margin-bottom: 20px;


}

.main_card .characteristics h4{
  margin: 0;
}

ul.characteristics {
  /* * flex ereditato */
  justify-content: space-around;

  height: 350px;
}

.fa-check{
  color: #1B71FF;
}

/* * card orizzontale ////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.horizontal_card{
  width: 100%;
  border: 1px solid #D0D0D3;
}

.row_card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;

}

.horizontal_card p{
  margin: 20px 0 5px 0;
  font-size: 0.9rem;
}

/* * section 2 /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.section_2{
  width: 70%;
  padding: 5% 5%;


  background-color: rgb(255, 255, 255);

  display: flex;
  justify-content: space-around;
  align-items: center;

  border: #000000 1px dashed;
}

.img_section_2 img{
  max-width: 570px;
  max-height: 500px;

  border: #000000 1px dashed;
}

.section_2 .description{
  margin-top: -170px;
  font-size: 15px;
  padding-top: 5px;
  text-align: left;
  margin-left: 40px;

  border: #000000 1px dashed;
}

.section_2 .description > *{
  margin-bottom: 20px;
}

.section_2 .white_button{
  width: 150px;
}

/* * section 3 /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.section_3{
  width: 70%;
  padding: 5% 5%;

  background-color: rgb(255, 255, 255);

  border: #000000 1px dashed;

  display: flex;
  flex-direction: column;


  padding-top: 0;
}

.row_card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 45px; */

  border: #000000 1px dashed;

}

.section_3_card{
  display: flex;
  flex-direction: column;
  text-align: left;

  width: 28%;
  margin-bottom: 70px;

  border: #000000 1px dashed;
}

.section_3_card h3{
  padding: 10px 0;
}

/* * section 4 /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.section_4{
  width: 100%;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */

  border: #000000 1px dashed;
}

.head_section_4{
  width: 70%;
  padding: 5% 5%;
  margin: 0 auto;
  /* padding: 15%; */
  text-align: left;

  border: #000000 1px dashed;
}

.section_4 div a{
  color: #1B71FF;
  text-decoration: underline;

  border: #000000 1px dashed;
}


.container_section_4{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vw;

  /* width: 100%; */

  border: #000000 1px dashed;
}

.box_collaborations{
  display: flex;

}

.row_collaborations{
  display: flex;
  height: 50%;
}

.collaboration{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #1B71FF; */
}

.collaboration img{
  width: 70%;
  /* * Per cambaire il colore del file .svg in bianco ( https://codepen.io/sosuke/pen/Pjoqqp )  */
  filter: invert(100%) sepia(13%) saturate(7477%) hue-rotate(181deg) brightness(110%) contrast(95%);

  border: #000000 1px dashed;
}

/* * box_left ______________________________________________________________________________________________________________*/
.box_left {
  width: 30vw;
  height: 30vw;
}


.designit_collaboration{
  background-color: #A2D39B;

}

.asu_collaboration{
  background-color: #61082B;

}

.uf_collaboration{
  background-color: #0093CE;

}

.topps_collaboration{
  background-color: #FF1C1C;


}












/* * box_center ______________________________________________________________________________________________________________*/
.box_center {
  width: 40vw;
  height: 30vw;
  overflow: auto;

  padding: 30px;

  background-color: #F5F5F5;


  border: #000000 1px dashed;
}

.box_center > *:not(hr) {
  padding-bottom: 30px;
}

.box_center img{
  height: 40px;
}

/* * box_right ______________________________________________________________________________________________________________*/
.box_right{
  width: 30vw;
  height: 30vw;

  border: #000000 1px dashed;
}

.wbr_collaboration{
  background-color: #D5001F;


}

.hearst_collaboration{

  background-color: #B4D0E7;

}


.lonley_collaboration{
  background-color: #0D2481;


}

.clear_collaboration{
  background-color: #FFD830;

}


/* * container 2 section 4 ____________________________________________________ */
.container_2_section_4{
  background-color: #B4D0E7;
  height: 328px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  border: #000000 1px dashed;

}

.little_container_2_section_4{
  width: 70%;
  margin: 5% auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border: #000000 1px dashed;

}

.container_2_section_4 h2{
  color: #61082B;

}

.container_2_section_4 .white_button a{
  color: #000000;
  text-decoration: none;
  padding: 5px 25px;

}










/* * section 5 /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.section_5{
  width: 70%;
  /* padding: 5% 5%; */

  background-color: rgb(255, 255, 255);

  border: #000000 1px dashed;

  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: flex-start;



}

.section_5 h3{
  font-size: 28px;
  padding: 50px 0 30px 0;
}

.section_5 ul{
width: 100%;
}

.section_5 li{
  /* display: block; */

  display: flex;
  justify-content: space-between;


  padding: 30px 0;
  border-top: rgb(208, 208, 211) 1px solid;
  border-bottom: rgb(208, 208, 211) 1px solid;

}

.fa-chevron-down{
  padding-right: 40px;
}















/* * FOOTER //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
footer{
  padding: 8%;
  padding-bottom: 3%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;

  background-color: #000000;
}

.container_footer{
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  color: white;
}

footer ul{
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: flex-start;

  margin: 0 100px 100px 0;
}

footer ul li h4{
  margin-bottom: 10px;
}

footer ul li {
  margin-bottom: 10px;
}

footer ul li a{
  font-size: small;
  text-align: left;
  color: white;
}

footer hr, footer div{
  color: #969696;
  font-size: small;

}

footer .fa-chevron-up{
  font-size: smaller;
}







































































