*{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

/* colori */
/* azzurro pulsanti */
/* hsl(217deg 100% 50%) */

body{
  background-color: rgb(255, 255, 255);

  /* font-family: Arial, Helvetica, sans-serif; */

  /* da google fonts */
  font-family: 'Open Sans', sans-serif;

  color: black;
}

h3{
  font-size: 30px;

}

h4{
  font-size: 18px;

}
.grey_color{
  color: gray;
}

li{
  display: inline-block;
  text-align: center;
  list-style-type: none;
}

a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.button_standard {
  /* border: none; */
  background-color: rgb(0, 98, 255);
  color: white;
  padding: 5px 15px;
  font-size: 16px;
  text-align: center;
  /* min-width: 40px;
  min-height: 40px; */
}

.button_standard  a{
  /* border: none; */
  background-color: rgb(0, 98, 255);
  color: white;
  padding: 5px;
  font-size: 16px;
  text-align: center;
  /* min-width: 40px;
  min-height: 40px; */
}

.white_button{
background-color: white;
color: #000000;
padding: 5px;
font-size: 16px;
text-align: center;
border: #000000 1px solid;
}

section{
  background-color: white;
}


/* * HEADER /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
header{
  width: 100%;
  background-color: rgb(181, 209, 232);

  /* height: 820px; */

  border: 3px blueviolet dashed;



}

.menu{
  width: 100%;
  height: 70px;
  background-color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 14px;

  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 999;
  /* width: 100%; */
}

.menu .col{
  /* border: 1px dashed black; */
  margin: 0 10px 0 10px;


}

header .menu .col nav ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* align-items: baseline; */

}

header .menu .col.col.col_menu_left nav ul li{
  /* border: 1px dashed black; */
  margin: 0 50px 0 0px;


}

header .menu .col.col.col_menu_right nav ul li{
  /* border: 1px dashed black; */
  margin: 0 0px 0 50px;


}



.jumbotron{
  background-color: rgb(181, 209, 232);
  /* width: 85%; */
  width: 100%;
  /* margin: 0 auto; */
  /* min-height: 730px; */
  /* height: 730px; */
  /* margin-top: 70px; */ /* * non necessario perché c'è abbastanza padding*/
  margin-top: 70px;
  /* padding: 0 10%; */
  /* padding-bottom: 0; */

  /* height: 768px; */
  /* height: 581px; */

  min-height: 610px;
  height: 50vw;
  max-height: 720px;
  /* height: 720px; */
  /* max-height: 720px; */
  /* height: 100%; */
  /* max-height: 100%; */

  /* position: relative;
  top: 90px; */


  /* display: flex; */
  /* justify-content: center; */

  border: 2px dashed rgb(0, 250, 79);
}

.container_jumbo_0{
  /* background-color: rgb(181, 209, 232); */
  border: 2px dashed rgb(0, 0, 0);

  width: 80%;
  /* height: 614px; */
  height: 634px;
  position: relative;
  /* top: 135px;  */
  top: 150px;
  padding: 0 10%;

}


.container_jumbo{
  display: flex;
  /*  justify-content: left; */
  /* * justify-content: space-between; */
  /* * align-items: center; */
  justify-content: flex-start;
  align-items: flex-start;
  /* flex-wrap: wrap; */

  /* height: 768px; */
  /* * PRIMA */
  /* height: 470px; */
  height: 440px;
  /* height: 100%; */

  /* *forse non necessario */
  width: 100%;

  /* height: 380px; */



  border: 1px solid black;
}

.jumbotron h1{
  font-size: 70px;
  font-weight: 700;
  text-align: left;

  border: 1px dashed black;



}

/* * colonna prima */
/* .container_jumbo .col.col_jumbo_left{

  max-width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;

  height: 350px;
     padding-bottom: 72px;

  border: 1px dashed black;
} */

/* * colonna dopo */
.container_jumbo .col.col_jumbo_left{
  max-width: 30%;
  height: 310px;
  /* margin-right: 20px; */
  padding-right: 20px;
  /* margin-top: 30px; */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /*nuovo*/
  justify-content: space-between;

  border: 1px dashed black;
}

header .description{
  font-size: 15px;
  padding-top: 5px;
  /* padding-right: 30px; */
  text-align: left;
}

.fa-arrow-down{
  font-size: 35px;
}


.container_jumbo .col.col_jumbo_right{
  /* max-width: 65%; l'immagine non copre il 65% quindi questo non è molto utile in questo caso */

  width: 68%;
  height: 100%;

  border: 1px dashed black;


}

.col_jumbo_right img{
  /* *dimensione standard del contenitore dell'immagine */
  /* width: 730px;  */
  /* width: 100%; */



  /* position: relative;
     top: 30px; */
   /* ! top: 60px; */

   border: 1px rgb(227, 29, 29) dashed;

   /* max-width: 100%; */

   /* max-height: 100%; */
   /* max-height: 440px;
   min-height: 440px; */
   /* height: 440px; */


   width: 100%;
   max-height: 440px;
   /* min-width: 65%; */
   /* height: 75%; */
  }

  .img_jumbo{
    /* * l'immagine si regola al 100% del contenitore successivo*/
    /* max-width: 100%; */

}











/* * MAIN //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
main{

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main h2{
  font-size: 35px;
  padding: 50px 0 30px 0;
}

/* * section 1 /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.section_1{
  width: 70%;
  padding: 5% 5%;

  background-color: rgb(255, 255, 255);
  /* padding-bottom: 700px; */
  border: 3px solid aqua;

}

.section_1 span{
  padding-left: 5px;
  margin-right: 10px;
}

.container_section_1{
  display: flex;
  justify-content: space-between;


}


.card{

  width: 300px;
  height: 950px;

  margin-top: 20px;
  margin-bottom: 45px;

  border: 1px solid #D0D0D3;

}

.card li{
  text-align: left;
}

.container_section_1 .card li span > a{
  color: #1B71FF;
  text-decoration: underline;
}

.head_card{
  border: 1px solid #D0D0D3;
  text-align: center;
  padding: 5px;
}

.main_card{

  display: flex;
  flex-direction: column;
  justify-content: space-around;



  padding: 10px;

}

.card .main_card h3{
  margin-bottom: 20px;
}

.card .main_card h4{
  margin-bottom: 70px;
}

.main_card ul{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main_card .users{
  margin-bottom: 20px;
}

.main_card .storage{
  margin-bottom: 20px;

}

.main_card .functions{
  margin-bottom: 30px;

}

.card .main_card .button_standard{
  margin: 0 9% 20px 9%;

}

.main_card .buy_now{
  margin-bottom: 20px;


}

.main_card hr{
  width: 50px;
  margin-left: 10px;
  margin-bottom: 30px;

}

.main_card .characteristics h4{
  margin: 0;
}

ul.characteristics {
  /* * flex ereditato */
  justify-content: space-around;

  height: 350px;
}

.fa-check{
  color: #1B71FF;
}

.horizontal_card{
  width: 100%;
  border: 1px solid #D0D0D3;

}

.row_card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;

}

.horizontal_card p{
  margin: 20px 0 5px 0;
  font-size: 0.9rem;
}

/* * section 2 /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.section_2{
  width: 70%;
  padding: 5% 5%;


  background-color: rgb(255, 255, 255);

  display: flex;
  justify-content: space-around;
  align-items: center;
}


.img_section_2 img{
  max-width: 570px;
  max-height: 500px;

}

.section_2 .description{
  margin-top: -170px;
  font-size: 15px;
  padding-top: 5px;
  text-align: left;
  margin-left: 40px;
}

.section_2 .description > *{
  margin-bottom: 20px;
}

.section_2 .white_button{
  width: 150px;
}















/* * section 3 /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.section_3{

}















/* * section 4 /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.section_4{

}















/* * section 5 /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.section_5{

}















/* * section 6 /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.section_6{

}






















/* * FOOTER //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
footer{

}











































































